*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}



/* header section */
.main{
    height: 355px;
    width: 100%;
    background-image: url("robot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}
.main p{
    position: relative;
    top: 75px;
    left: 130px;
}
.main h1{
    position: relative;
    top: 75px;
    left: 130px;
    font-size: 4em;
}
/* about section */
.about{
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
}

.left{  
    width:50%;
   height: 500PX;
   text-align: center;
}

.right{
    height: 500PX;
    width:50%;
    background-image: url("arm.jpg");
    background-size: cover;
}

 
.left h1,h3{
    position: relative;
    top:100px;
    left:11px;
}
.left p{
    position: relative;
    top:100px;
    left:11px;
}
/* section */
.imp{
background-color: black;
height:500px;
display: flex;
}
.left1
{
 
    height: inherit;
    width: 50%;
    background-color: rgb(26,26,26);
    display: flex;
    flex-direction: column;

}
.text{
    height: 50%;
}
.threeimg{
    height: 50%;
}
.text h2{
    position: relative;
    color: white;
    font-family: 'Open Sans', sans-serif;
    top: 80px;
    left: 132px;
}
.text p{
    position: relative;
    color: white;
    font-family: 'Open Sans', sans-serif;
    top: 80px;
    left: 132px;
}
.threeimg{
    display: flex;
}
.p4,.p5,.p6{
    height: 180px;
    width: 180px;
    position: relative;
    left: 135px;
}
.right1
{
    height: inherit;
    width: 50%;
    background-color: rgb(185,223,223);
    display: flex;
}

.p7,.p8,.p9{
    height: 180px;
    width: 180px;
    position: relative;
    top:250px;
}
.p4{
    background-image: url("p4.jpg");
    background-size: cover;
}
.p5{
    background-image: url("p5.jpg");
    background-size: cover;
}
.p6{
    background-image: url("p6.jpg");
    background-size: cover;
}
.p7{
    background-image: url("p4.jpg");
    background-size: cover;
}
.p8{
    background-image: url("p5.jpg");
    background-size: cover;
}
.p9{
    background-image: url("p6.jpg");
    background-size: cover;
}
/* section */
.top{
    background:white;
    height: 550px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
}

.one,.two,.three{
    width: 35%;
    margin: 3px;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.three p{
    padding-top: 85px;
    font-size: 22px;
}

/* .one{
    background-color: brown;
} */
.p1,.p2{
    height: 49%;
    background:rgb(174,161,106);
}
.p1{
    color: white;
    font-size: 3em;
}
.p1 h4{
    padding-top: 48px;
}
.p2{
    margin-top: 9px;
    background-image: url("cute.jpg");
    background-size: cover;
    background-position: center;
}
.two{
    background-image: url("middle.jpg");
    background-size: cover;
    background-position: center;
}
.three{
    background-color: rgb(185,223,223);
}

/* footer */
.foot{
    background: rgb(51,51,51);
    display: flex;
    padding: 20PX 20PX;
    height: 300px;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: center;
}
.foot h2{
    color: rgb(162,161,106);
}
.foot p{
    color: white;
}
.first,.second,.third{
    width: 35%;
    height: 217px;
    text-align: center;
}
.foot i{
    font-size: 45px;
    color: rgb(162,161,106);;
}
/* two part */
.twopart{
    width:100%;
    height: 600px;
}
.write{
    font-family: 'Open Sans', sans-serif;
    height:40%;
    text-align: center;
    font-size: 1.5em;
}
.write h1{
    color: rgb(162,161,106);
    position: relative;
    top: 30px;
}
.write p{
    position: relative;
    top: 30px;
}
.img{
    height: 60%;
}
#first{
    position: relative;
    height: 359px;
    width:280px;
    left: 15%;
}
#second{
    position: relative;
    height: 359px;
    width:280px;
    left: 14%;
}
#third{
    position: relative;
    height: 359px;
    width:280px;
    left: 13%;
}
/* quote */
.quote{
    margin-top: 20px;
    background-color: black;
    height: 450px;
    display: flex;
}
.line{
    height: inherit;
    width: 10%;
}
.jeff{
    height: inherit;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
}
.rectangle{
    height: 220px;
    width: 20px;
    background-color: rgb(174,161,106);
    position: relative;
    top:100px;
    left:150px;
}
.jeff i{
    color:rgb(174,161,106);
    font-size: 60px;
    position: relative;
    top: 100px;
    left: 70px;
}
.jeff p{
    
    font-size: 25px;
    color: white;
    position: relative;
    top: 100px;
    left: 70px;
}
.jeff h3{
    color: white;
    font-size: 25px;
    position: relative;
    left: 850px;
}
/* learn */
.learn{
    height:650px;
    background-color: rgb(185,223,223);
    padding:40px;
    display: flex;
}
.oneimg{
    width: 60%;
    background-image: url("learn.jpg");
    background-size: cover;
   background-position: center;
}
.onetext{
    padding: 20px;
    width: 40%;
    background-color: rgb(215,237,237);
    font-family: 'Open Sans', sans-serif;
}
.onetext h1{
    font-size: 34px;
    position: relative;
    top:15px;
    left: 10px;
}
.onetext p{
    font-size: 20px;
    position: relative;
    top:15px;
    left: 10px;
}
.btn{
    height: 50px;
    width:130px;
    background-color: rgb(185,223,223);
    border: none;
    padding: 10px;
    position: relative;
    top:30px;
    left:8px;
}
/* footer */
.foote{
    height: 250px;
    background-color: rgb(35,53,77);
}
.footp p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 60px;
}
.icons i{
    color: white;
    font-size: 25px;
    position: relative;
    top:70px;
    left: 630px;
    margin:4px;
}